@charset "UTF-8";

/* переменный цветов */

/* максимальна ширина икрана */

.header:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #7eaa59;
  z-index: 3;
}

.header {
  position: fixed;
  width: 100%;
  height: 70px;
  top: 0;
  left: 0;
  z-index: 50;
  display: block;
  background-color: #7eaa59;
  opacity: 0.7;
}

.header__menu {
  opacity: 0;
  overflow: hidden;
}

.header__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__contact {
  font-weight: 800;
  position: relative;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__contact-text {
  color: #ffffff;
}

.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60px;
          flex: 0 0 60px;
  cursor: pointer;
  position: relative;
  z-index: 4;
}

.header__logo img {
  max-width: 100%;
}

.header__item {
  margin: 15px 0px;
  display: block;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  z-index: 2;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.header__link {
  text-transform: uppercase;
  color: #7eaa59;
  font-weight: 800;
}

.header__link:hover {
  color: #93af7c;
}

.header__burger {
  display: block;
  width: 30px;
  height: 20px;
  z-index: 3;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: pointer;
}

.header__burger span {
  position: absolute;
  background-color: #ffffff;
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  top: 8px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__burger:before,
.header__burger:after {
  content: '';
  background-color: #ffffff;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__burger:before {
  width: 60%;
  top: 0;
}

.header__burger:after {
  bottom: 0;
}

.header__burger.active:before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 100%;
  top: 9px;
}

.header__burger.active:after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 9px;
}

.header__burger.active span {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.header__burger.active:before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 9px;
}

.header__menu {
  opacity: 1;
  position: fixed;
  overflow: auto;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.8;
  padding: 100px 0px 0px 0px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__menu.active {
  top: 0;
}

body.lock {
  overflow: hidden;
}

.header_fixed {
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px 0;
  -webkit-animation: showElement;
          animation: showElement;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

@-webkit-keyframes showElement {
  0% {
    opacity: 0;
    top: -70px;
  }

  100% {
    opacity: 1;
    top: 0;
  }
}

@keyframes showElement {
  0% {
    opacity: 0;
    top: -70px;
  }

  100% {
    opacity: 1;
    top: 0;
  }
}

ul,
ul,
li,
a,
p,
h2,
h3,
h4,
h5,
h1 {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: Roboto, sans-serif, Arial, Helvetica, sans-serif;
  font-weight: 300;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1200px;
  padding: 0px 20px;
  margin: 0 auto;
}

/* Адапивный шрифт*/

@font-face {
  font-family: "Roboto-Bold";
  font-display: swap;
  src: url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SFUIText-Medium";
  font-display: swap;
  src: url("../fonts/SFUIText-Medium.woff") format("woff"), url("../fonts/SFUIText-Medium.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Light";
  font-display: swap;
  src: url("../fonts/Roboto-Light.woff") format("woff"), url("../fonts/Roboto-Light.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "ofont";
  font-display: swap;
  src: url("../fonts/ofont.woff") format("woff"), url("../fonts/ofont.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

/* Подключение  шрифтов */

.contact__link {
  color: #000000;
}

.button {
  position: relative;
  display: inline-block;
  padding: 20px 46px;
  border: 2px solid #ffffff;
  border-radius: 27.0px;
  color: #ffffff;
  cursor: pointer;
}

.button img {
  position: absolute;
  right: -20%;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.fp-tooltip {
  color: #000000 !important;
}

.main {
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main__title {
  margin-top: 130px;
  font-size: calc(26px + 32 * ((100vw - 320px) / 1040));
  font-weight: 300;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 36px;
}

.main__description {
  font-size: calc(12px + 6 * ((100vw - 320px) / 1040));
  margin-bottom: 50px;
  color: #ffffff;
  font-weight: 300;
}

.info {
  position: relative;
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.info__title {
  margin-left: 60px;
  margin-bottom: 55px;
}

.info__description {
  max-width: 310px;
  margin-bottom: 34px;
}

.info__details {
  font-size: 14.1px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.1em;
  color: #2a4f37;
}

.info__wrap {
  padding-bottom: 330px;
}

.title::before {
  content: '';
  width: 35px;
  height: 1px;
  background-color: black;
  color: #000000;
  position: absolute;
  top: 50%;
  left: -50px;
}

.title {
  opacity: 0.87;
  font-family: Roboto-Light, sans-serif;
  font-size: 48.2px;
  line-height: 30px;
  font-weight: 400;
  color: #000000;
  position: relative;
}

.description {
  opacity: 0.87;
  font-family: SFUIText, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  color: #000000;
}

.price-card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 189px;
  background-color: #91aa59;
  padding-bottom: 95px;
  opacity: 0.7;
  cursor: pointer;
}

.price-card__counter {
  position: absolute;
  top: 43px;
  right: 26px;
  font-size: 210px;
  opacity: 0.1;
  font-family: ofont, sans-serif;
  font-weight: 400;
  color: #ffffff;
}

.price-card__text {
  color: #ffffff;
}

.price-card__text-skil {
  font-size: 14px;
  font-weight: 500;
}

.price-card__text-level {
  font-size: 28px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.price-card__text-cost {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}

.price-card__timetable {
  font-family: SFUIText-Medium, sans-serif;
  color: #ffffff;
}

.price-card__timetable-day {
  margin-bottom: 10px;
}

.price {
  position: relative;
  min-height: 100vh;
}

.price__title {
  margin-bottom: 65px;
  margin-left: 60px;
}

.instruction {
  position: relative;
}

.instruction__title {
  margin-top: 130px;
}

.instruction__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 450px;
          flex: 0 1 450px;
}

.instruction__image img {
  max-width: 100%;
}

.instruction__item {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 100px;
}

.instruction__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 360px;
          flex: 0 1 360px;
  font-size: 16px;
  opacity: 0.87;
  color: #010101;
}

.instruction__text-title {
  font-size: 28px;
  color: #242424;
  margin-bottom: 30px;
  font-weight: 400;
}

.instruction__text-description {
  font-family: SFUIText, sans-serif;
  font-weight: 300;
}

.instruction__item:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.comment {
  position: relative;
  padding-top: 100px;
  padding-bottom: 50px;
}

.comment__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.comment__text {
  margin-left: 60px;
  max-width: 422px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.comment__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.comment__contacts img {
  margin-left: 17px;
}

.card__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.comment-title {
  margin-bottom: 60px;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: #91aa59;
  display: inline-block;
  border-radius: 100%;
}

.slider {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.slider-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}

.slider-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 500px;
}

.swiper-button-prev,
.swiper-button-next {
  color: #c8d4ac;
}

.swiper-button-prev {
  left: 10%;
}

.swiper-button-next {
  right: 10%;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 100%;
  background-color: #91aa59;
}

.swiper-pagination-bullet-active {
  width: 15px;
  height: 15px;
}

.map__title {
  margin-bottom: 100px;
}

.map__content {
  position: relative;
}

.map__contact {
  color: #ffffff;
  -webkit-box-shadow: 0px 6px 15px 0px rgba(32, 32, 32, 0.2);
          box-shadow: 0px 6px 15px 0px rgba(32, 32, 32, 0.2);
  position: absolute;
  top: 0;
  left: 10%;
  z-index: 15;
  background-color: #91aa59;
  width: 332px;
  height: 377px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.map__contact-text {
  font-family: SFUIText-Medium,sans-serif;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.map__contact-text span {
  margin-bottom: 7px;
  opacity: 0.7;
}

.map__contact-text a {
  color: #ffffff;
  opacity: 0.7;
}

.footer {
  padding: 35px 0px;
  background-color: #91aa59;
}

.footer__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-link {
  color: #ffffff;
}

@media (max-width: 767px) {
  .header__list {
    display: block;
  }

  .header__item {
    margin: 0px 0px 20px 10px;
  }
}